*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image:  url(img/forside-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: 32%; 
}  
.header-bisite {
    min-height: 100vh;
    width: 100%;
    background-image:  url(img/get-involved-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: 32%; 
} 
.header-trisite {
    min-height: 100vh;
    width: 100%;
    background-image:  url(img/become-volunteer-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: 32%; 
} 
nav{
    display: flex;
    padding: 0.8% 0 0.8% 0;
    justify-content: space-between;
    align-items: center;
    background-color: #232B30;
}
.nav-links{
    flex: 1;
    text-align: right;
 
    top: 0;
    right: 0;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px; /*--tekst-størrelse-her--*/
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    
}
.nav-links ul li ::after{
    content:"";
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover ::after{
    width: 100%;
}

.knap-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.join-us-knap{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #232B30;
    padding: 14px 55px;
    font-size: 36px; /*--tekst-størrelse-her--*/
    background: #232B30;
    position: relative;
    cursor: pointer;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

}
.join-us-knap:hover{
    border: 1px solid #232B30;
    transition: 1s;
    transform: scale(1.1);
}
nav.fa{
    display: none;
}
.logo-1{
    max-width: 100px;
    height: auto;
    margin-left: 3vw;
    margin-top: 10%;
}
.languagebutton{
    margin-left: 20px;
}
.slogan{
    position: relative;
    top: 120px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 90%; 
    max-width: 400px;
    height: auto;
    padding: 60px;
    text-align: center;
}



/* Tilføj styling til burger-menuen og "x" knappen */
#openBtn {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin-right: 20px;
  }
#closeBtn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
  
  /* Tilføj medieforespørgsler til at vise og skjule burger-menuen og "x" knappen */
  @media only screen and (max-width: 767px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 12%;
      left: 0;
      width: 100%;
      background-color: #232B30;
      text-align: center;
    }
  
    #openBtn {
      display: block;
    }
  
    .nav-open #openBtn {
        display: none;
      }
      
    .nav-links ul li {
      display: block;
      padding: 10px;
    }
}
  



/*--sort-kasse--*/
.container {
    width: 100%;
    height: 140px;
    overflow:hidden;
}
  
.sort-box {
    background-color: #232B30;
    height: 100%;
    justify-content: center;
    align-items: center;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%; 
    padding: 2% 2%;
}
  
.grid-item {
    color: #fff;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    
}
.map-icon-white{
    width: 50%;
    max-width: 70px;
    height: auto;
    margin-top: 2%;
}
.partners-icon-white{
    width: 50%;
    max-width: 70px;
    height: auto;
    margin-top: 2%;
}
.memebers-icon-white{
    width: 50%;
    max-width: 70px;
    height: auto;
    margin-top: 2%;
}
.award-white{
    width: 50%;
    height: auto;
    max-width: 70px;
    margin-top: 2%;
}



/*--om game--*/
.om-game{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
}
  
.content {
    text-align: center;
    width: 70%;
}
  
.centered-image {
    width: 200px;
    display: block;
    margin: 20px auto 20px; 
}
  
.centered-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    
}
  
.read-more-knap{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #232B30;
    padding: 14px 35px;
    font-size: 25px; /*--tekst-størrelse-her--*/
    background: #232B30;
    position: relative;
    cursor: pointer;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    

}
.read-more-knap:hover{
    border: 1px solid #232B30;
    transition: 1s;
    transform: scale(1.1);
}




/*--seperations-linje--*/
.separator-line {
    border-top: 2px solid #232B30;
    width: 80%;
    margin: 130px auto; /* Juster margenen efter behov */
    margin-bottom: 0;
}



/*--GAME FIGHTS FOR--*/


h1 {
  text-align: center; /* Centrerer teksten vandret */
  margin-top: 35px; /* Juster topmargenen efter behov */
  margin-bottom: 35px;

}

.container2 {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}
  
.image-wrapper {
    width: 80%; 
    max-width: 200px; 
    text-align: center;
    margin: 0 auto; 
}
.image-wrapper a {
    text-decoration: none;
    color: inherit; 
  }
.image-wrapper img {
    width: 100%; 
    height: auto; 
}
  
.image-wrapper h3 {
    margin-top: 10px; 
}




/*--want to support game--*/

.container3 {
    background-color: #232B30;
    text-align: center;
}
  
h1 {
    margin: 20px 0; 
    padding: 35px;
}
  
.columns {
    display: flex;
    justify-content: center; 
}
  
.column {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}
  
.box {
    flex-grow: 1; 
    height: 100px;
    color: #fff;
    margin: 20px;
    text-align: center;
}
  
.separator {
    margin: 0 auto;
    border: none;
    width: 80%;
    border-top: 2px solid black;
}
























/*--STORIES FROM GAME--*/
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px; /* adjust height as needed */
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
  }
  
  .carousel-prev:hover,
  .carousel-next:hover {
    opacity: 1;
  }
  
  .carousel-prev {
    left: 20px;
  }
  
  .carousel-next {
    right: 20px;
  }































/*--FRIVILLIG-PAGE--*/

.container4{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 70px;
}
.container5{
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
    padding-bottom: 70px;
}
.image-wrapper1 {
    width: 80%; 
    max-width: 200px; 
    text-align: center;
    margin-left: 35px; 
    margin-right: 35px;
}
  
.image-wrapper1 img {
    width: 100%; 
    height: auto; 
}
  
.image-wrapper1 h3 {
    margin-top: 10px; 
}













/*--Video--*/
.video-box {
    position: relative; 
    width: 100%;
    height: 100%; 
    background-color: #232B30;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  
.text1{
    width: 50%;
    color: #fff;

}
  
  video {
    max-width: 100%; 
    max-height: 80%; 
    margin-bottom: 50px;
}







/*--footer--*/

footer {
    text-align: center;
    background-color: #ECECEC;
    padding-top: 35px;
}
  
nav1 ul {
    list-style: none;
    padding-top: 20px;
    margin: 0;
}
  
nav1 ul li {
    display: inline-block;
}
  
nav1 ul li:not(:last-child) {
    margin-right: 20px; 
}
  
nav1 ul li a {
    text-decoration: none;
    color: #000; 
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    
}

.social-icons {
    margin-top: 20px; /* Adjust margin as needed */
}
  
.social-icons a {
    display: inline-block;
    margin-right: 55px;
    color: #000; 
}

.social-icons a i {
    color: #000; 
    font-size: 30px;
}

  
.social-icons a:last-child {
    margin-right: 0;
}


.footer-text {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px; 
  }
  
  .footer-text p {
    margin: 0;
    font-size: 12px; /* Juster skriftstørrelsen som nødvendigt */
  }
  
  .spacer {
    margin-right: 20px; /* Juster margenen mellem ordene som nødvendigt */
  }
  





