*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image:  url(img/forside-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: 32%; 
}  
.header-bisite {
    min-height: 100vh;
    width: 100%;
    background-image:  url(img/get-involved-banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: 32%; 
} 
.header-trisite {
    min-height: 100vh;
    width: 100%;
    background-image:  url(img/become-volunteer-banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-position-y: 32%; 
} 
nav{
    display: flex;
    padding: 0.8% 0 0.8% 0;
    justify-content: space-between;
    align-items: center;
    background-color: #232B30;
}
.nav-links{
    flex: 1;
    text-align: right;
 
    top: 0;
    right: 0;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px; /*--tekst-størrelse-her--*/
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    
}
.nav-links ul li ::after{
    content:"";
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover ::after{
    width: 100%;
}

.knap-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.join-us-knap{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #232B30;
    padding: 14px 55px;
    font-size: 36px; /*--tekst-størrelse-her--*/
    background: #232B30;
    position: relative;
    cursor: pointer;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;

}
.join-us-knap:hover{
    border: 1px solid #232B30;
    transition: 1s;
    transform: scale(1.1);
}
nav.fa{
    display: none;
}
.logo-1{
    max-width: 100px;
    height: auto;
    margin-left: 3vw;
    margin-top: 10%;
}
.languagebutton{
    margin-left: 20px;
}
.slogan{
    position: relative;
    top: 120px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 90%; 
    max-width: 400px;
    height: auto;
    padding: 60px;
    text-align: center;
}



/* Tilføj styling til burger-menuen og "x" knappen */
#openBtn {
    display: none;
    cursor: pointer;
    color: white;
    font-size: 24px;
    margin-right: 20px;
  }
#closeBtn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}
  
  /* Tilføj medieforespørgsler til at vise og skjule burger-menuen og "x" knappen */
  @media only screen and (max-width: 767px) {
    .nav-links {
      display: none;
      position: absolute;
      top: 12%;
      left: 0;
      width: 100%;
      background-color: #232B30;
      text-align: center;
    }
  
    #openBtn {
      display: block;
    }
  
    .nav-open #openBtn {
        display: none;
      }
      
    .nav-links ul li {
      display: block;
      padding: 10px;
    }
}
  



/*--sort-kasse--*/
.container {
    width: 100%;
    height: 140px;
    overflow:hidden;
}
  
.sort-box {
    background-color: #232B30;
    height: 100%;
    justify-content: center;
    align-items: center;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%; 
    padding: 2% 2%;
}
  
.grid-item {
    color: #fff;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    
}
.map-icon-white{
    width: 50%;
    max-width: 70px;
    height: auto;
    margin-top: 2%;
}
.partners-icon-white{
    width: 50%;
    max-width: 70px;
    height: auto;
    margin-top: 2%;
}
.memebers-icon-white{
    width: 50%;
    max-width: 70px;
    height: auto;
    margin-top: 2%;
}
.award-white{
    width: 50%;
    height: auto;
    max-width: 70px;
    margin-top: 2%;
}



/*--om game--*/
.om-game{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
}
  
.content {
    text-align: center;
    width: 70%;
}
  
.centered-image {
    width: 200px;
    display: block;
    margin: 20px auto 20px; 
}
  
.centered-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    
}
  
.read-more-knap{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #232B30;
    padding: 14px 35px;
    font-size: 25px; /*--tekst-størrelse-her--*/
    background: #232B30;
    position: relative;
    cursor: pointer;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
    

}
.read-more-knap:hover{
    border: 1px solid #232B30;
    transition: 1s;
    transform: scale(1.1);
}

  /* CSS for aligning images with paragraphs */
.box {
    text-align: center; /* Center-align the content within each box */
}
.box img {
    display: block; /* Make the image a block-level element */
    margin: 0 auto 10px; /* Center the image horizontally and add some bottom margin */
    max-width: 100%; /* Ensure images don't exceed the width of their container */
}
.box p {
    text-align: left; /* Align the paragraph text to the left */
}



/*--seperations-linje--*/
.separator-line {
    border-top: 2px solid #232B30;
    width: 80%;
    margin: 130px auto; /* Juster margenen efter behov */
    margin-bottom: 0;
}



/*--GAME FIGHTS FOR--*/


h1 {
  text-align: center; /* Centrerer teksten vandret */
  margin-top: 35px; /* Juster topmargenen efter behov */
  margin-bottom: 35px;

}

.container2 {
    display: flex;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}
  
.image-wrapper {
    width: 80%; 
    max-width: 200px; 
    text-align: center;
    margin: 0 auto; 
}
.image-wrapper a {
    text-decoration: none;
    color: inherit; 
  }
.image-wrapper img {
    width: 100%; 
    height: auto; 
}
  
.image-wrapper h3 {
    margin-top: 10px; 
}




/*--want to support game--*/

.container3 {
    background-color: #232B30;
    text-align: center;
}
  
h1 {
    margin: 20px 0; 
    padding: 35px;
    color: #fff;
}
  
.columns {
    display: flex;
    justify-content: center; 
}
  
.column {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
}
  
.box {
    flex-grow: 1; 
    height: 100px;
    color: #fff;
    margin: 20px;
    text-align: center;
}
  
.separator {
    margin: 0 auto;
    border: none;
    width: 80%;
    border-top: 2px solid black;
}

.donation-icon {
    width: 70px;
    height: 70px;
}

.partnership-icon {
    width: 70px;
    height: 70px;
}

.purchase-icon {
    width: 70px;
    height: 70px;

}

.sponser-icon {
    width: 70px;
    height: 70px;
}

















/*-----------------------STORIES FROM GAME----------------------*/
.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}
.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 15%;
    opacity: .4;
    transform: translateX(-50%);
}

.gallery-item-2, .gallery-item-4 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}
.gallery-item-2 {
    left: 30%;
    transform: translateX(-50%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;
}

.gallery-item-4 {
    left: 70%;
    transform: translateX(-50%);
}

.gallery-item-5 {
    left: 85%;
    opacity: .4;
    transform: translateX(-50%);
}
.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 25px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}
.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}
.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 45%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}
.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}
.gallery-nav li.gallery-item-selected {
    background: #555;
}






















/*------------Video-----------*/
.video-box {
    position: relative; 
    width: 100%;
    height: 100%; 
    background-color: #232B30;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
  }
  
.text1{
    width: 50%;
    color: #fff;

}
  
  video {
    max-width: 100%; 
    max-height: 80%; 
    margin-bottom: 50px;
}

/*--newsletter--*/

.nyhedsbrev {
    text-align: center;
    background-color: white;
    
}
  







/*--footer--*/

footer {
    text-align: center;
    background-color: #ECECEC;
    padding-top: 35px;
}
  
nav1 ul {
    list-style: none;
    padding-top: 20px;
    margin: 0;
}
  
nav1 ul li {
    display: inline-block;
}
  
nav1 ul li:not(:last-child) {
    margin-right: 20px; 
}
  
nav1 ul li a {
    text-decoration: none;
    color: #000; 
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    
}

.social-icons {
    margin-top: 20px; /* Adjust margin as needed */
}
  
.social-icons a {
    display: inline-block;
    margin-right: 55px;
    color: #000; 
}

.social-icons a i {
    color: #000; 
    font-size: 30px;
}

  
.social-icons a:last-child {
    margin-right: 0;
}


.footer-text {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px; 
  }
  
  .footer-text p {
    margin: 0;
    font-size: 12px; /* Juster skriftstørrelsen som nødvendigt */
  }
  
  .spacer {
    margin-right: 20px; /* Juster margenen mellem ordene som nødvendigt */
  }
  




  .danish-language #navTtile1 {
    color: white;
    text-decoration: none;
    font-size: 15px; /*--tekst-størrelse-her--*/
    font-family: "Suez One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
  }

